.layout {
    display: grid;
    grid-template-columns: 18rem 1fr;
    grid-template-rows: 80px 1fr 80px;
    min-height: 100vh;
  }
  
  .header {
    grid-area: 1 / 1 / 2 / 3;
  }
  
  .aside {
    grid-area: 2 / 1 / 4 / 2;
  }
  
  .main {
    grid-area: 2 / 2 / 3 / 3;
  }
  
  .footer {
    grid-area: 3 / 2 / 4 / 3;
  }